@use '../../foundation/_mixin' as *;

.c-btn {
  font-family: "Libre Bodoni", serif;
}

.c-btn--onlineShop {
  background-color: #fed848;
  border-radius: 50%;
  padding: 8px 16px;
  border: 1px solid #4b2413;

  @include sp {
    position: absolute;
    top: 15%;
    right: 10px;
    transform: none;
    padding: 16px 8px;
    z-index: 10;
  }
}

.c-btn--onlineShop.sp {
  display: none;

  @include sp {
    display: block;
    position: fixed;
  }
}

.c-btn--onlineShop.spProduce {
  @include sp {
    display: inline;
    position: static;
  }
}

.c-btn--slideArrow {
  border: none;
  background-color: none;
  font-size: 30px;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.6;
  }
}

.c-btn--more {
  display: none;

  @include sp {
    display: inline;
    color: #4B2413;
  }
}

.c-btn--close {
  @include sp {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 40px;
    color: #4B2413;
  }
}