@use '../../foundation/_mixin' as *;

.c-img {
  object-fit: contain;
}

.c-img--logo {
  width: 310px;
  height: 65px;
  object-fit: cover;
}

.c-img--dot {
  position: absolute;
  bottom: 15%;
  left: -50px;
  width: 380px;
}

.c-img--table {
  max-width: 270px;
  max-height: 270px;
}

.c-img--teaSweets {
  max-width: 700px;
  width: 100%;
  min-height: 570px;
  padding-top: 180px;
}