@use '../../foundation/_mixin' as *;

.c-img {
  object-fit: contain;
}

.c-img--logo {
  width: 310px;
  height: 65px;
  object-fit: cover;

  @include sp {
    width: 200px;
    height: 50px;
    object-fit: contain;
  }
}

.c-img--dotHero {
  position: absolute;
  bottom: 15%;
  left: -50px;
  width: 380px;

  @include sp {
    top: 20%;
    width: 220px;
  }
}

.c-img--table {
  width: 25vw;
  height: auto;

  @include sp {
    width: 40%;
  }
}

.c-img--teaSweets,
.c-img--package {
  width: 100%;
  height: auto;
}

.c-img--teaSweets {
  @include sp {
    width: 82%;
  }
}

.c-img--visual {
  width: 100%;
}

.c-img--hand {
  width: 38%;
  position: absolute;
  right: 0;
  top: -120px;
}

.c-img--dish {
  width: 85%;
}

.c-img--cake {
  width: 60%;
  position: absolute;
  top: 0;
  right: 0;
  height: 568px;
  object-fit: cover;
}

.c-img--products {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.c-img--dot {
  width: 327px;
  position: absolute;
  top: 60px;
  left: -230px;
  z-index: -1;
}

.c-img--wrapping {
  width: 100%;
}

.c-img--news {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  background-color: #e2dbef;
}

.c-img--dotStore {
  width: 327px;
  position: absolute;
  left: -84px;
  top: 106px;
  z-index: -1;
}

.c-img--store {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 55%;
}

.c-img--candle {
  width: 130px;
  object-fit: cover;
  padding-bottom: 20px ;
}

.c-img--blank {
  width: 50px;
}

.c-img--footerLogo {
  width: 200px;
}