@use '../../foundation/_mixin' as *;

.c-link {
  color: inherit;
  text-decoration: none;
}

.c-link--header,
.c-link--arrow,
.c-link--footerMenu,
.c-link--footer,
.c-link--onlineShop {
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.5;
  }
}

.c-link--onlineShop.spHeader {
  @include sp {
    writing-mode: vertical-rl;
  }
}