@use '../../foundation/_mixin' as *;

.c-text {
  font-size: 16px;
}

.c-text--verticalLeft {
  font-size: 20px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.c-text--verticalRight {
  font-size: 20px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.c-text.c-text--story {
  line-height: 1.6;
}