@use '../../foundation/_mixin' as *;

.c-text {
  font-size: 16px;
  line-height: 1.6;
}

.c-text--verticalLeft {
  font-size: 20px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.c-text--verticalRight {
  font-size: 20px;
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(180deg);
}

.c-text--lead {
  width: 460px;
}

.c-text--subTitle {
  font-size: 40px;
}

.c-text--mainTitle {
  font-size: 114px;
  line-height: 1;
}

.c-text--contents {
  line-height: 2;
  font-weight: 500;
}

.c-text--category {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
}

.c-text--products {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.c-text--productContents {
  text-align: start;
  line-height: 2;
}

.c-text--price {
  font-size: 17px;
  font-weight: 700;
}

.c-text--inTax {
  font-size: 12px;
}

.c-text--productsLeft,
.c-text--productsRight {
  font-size: clamp(17px, 1.5vw, 25px);
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  white-space: nowrap;
}

.c-text--productsLeft {
  left: -30px;
  transform: translateY(-50%);
}

.c-text--productsRight {
  right: -30px;
  transform: translateY(-50%) rotate(180deg);
}

.c-text--decoration {
  font-size: 14px;
  position: absolute;
  top: 200px;
  right: -220px;
}

.c-text--newsTitle {
  font-size: 14px;
  line-height: 1.6;
}

.c-text--newsDate {
  font-size: 12px;
}

.c-text--store {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
}

.c-text--section {
  min-width: 90px;
  font-weight: 700;
}

.c-text--sectionValue {
  text-align: start;
}