@use '../../foundation/_mixin' as *;

.p-cake {
  padding: 184px 0;
}

.p-cake__container {
  padding: 0 40px;
  position: relative;
}

.p-cake__title {
  padding-top: 72px;
}

.p-cake__sectionTitle {
  display: flex;
  margin-bottom: 40px;
}