@use '../../foundation/_mixin' as *;

.p-footerBottom {
  margin: 60px auto 0;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-footerBottom__logo {
  font-size: 25px;

  @include sp {
    font-size: 18px;
  }
}

.p-footerBottom__meta {
  text-align: right;
}

.p-footerBottom__navWrap {
  margin-bottom: 20px;

  @include sp {
    font-size: 12px;
    margin-bottom: 8px;
  }
}