@use '../../foundation/_mixin' as *;

.p-headerMenu__wrap {
  display: flex;
  gap: 16px;
  align-items: center;

  @include sp {
    display: none;
  }
}

.p-headerMenu__nav {
  display: flex;
  gap: 16px;
}

