@use '../../foundation/_mixin' as *;

.p-hero {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../../assets/img/hero.png);
  width: 90%;
  min-height: 100vh;
}