@use '../../foundation/_mixin' as *;

.p-products {
  padding: 184px 0;
}

.p-products__container {
  padding: 0 40px;
  position: relative;
}

.p-story + .p-products .p-products__lead {
  padding-top: 0;
}

.p-products__lead {
  padding-top: 72px;
  margin-bottom: 152px;
}

.p-products__titleWrap {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.p-products__description {
  width: 36%;
}

.p-products__title {
  margin-bottom: 64px;
  position: relative;
  z-index: 2;
}

.p-products__sectionTitle {
  display: flex;
  margin-bottom: 40px;
}

.p-products__item {
  display: flex;
  gap : 50px;
  margin-bottom: 96px;

  &:last-child {
    margin-bottom: 0;
  }
}

.p-products__card {
  width: 50%;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.p-products__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-products__footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.p-products__wrap {
  margin: 0 auto;
  width: 48%;
  position: relative;
}

.p-products__wrap .p-products__card {
  width: 100%;
}