@use '../../foundation/_mixin' as *;

.p-story {
  padding: 100px 0 184px;
}

.p-story__content--primary {
  padding: 0 48px;
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
}

.p-story__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.p-story__right {
  width: 63%;
  padding-top: 180px;
}

.p-story__visual {
  display: flex;
  justify-content: center;
}

.p-story__container {
  padding: 0 40px;
}

.p-story__content--secondary {
  display: flex;
  flex-direction: row-reverse;
}

.p-story__right--secondary {
  width: 46%;
}

.p-story__left--secondary {
  padding: 180px 120px 0 0;
  flex: 1;
}

.p-story__imageBox {
  position: relative;
}