@use '../../foundation/_mixin' as *;

.u-mb--80 {
  margin-bottom: 80px;
}

.u-ml--auto {
  margin-left: auto;
}

.u-mg--100 {
  margin: 0 0 100px 100px;
}

.u-mg--8 {
  margin:  20px 0 8px;
}

.u-mt--24 {
  margin-top: 24px;
}

.u-mb--24 {
  margin-bottom: 24px;
}

.u-mg--25 {
  margin: 25px auto;
}